<!--
Element: main-page
Author: Dong Duong
Create: 09/11/2015
-->

<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="facebook-comments">
  <style>
		.fb-comments 
		{
			height: 100%;
		}
  </style>

  <template id="FacebookComments">
    <div id="fbRoot"/>
  </template>
  
  <script>
  Polymer({
    is: 'facebook-comments',
    
    properties: {
      /**
  		 * Type of Facebook Comments
  		 *
  		 * Values: `html5` | `xfbml`
  		 *
  		 * @attribute type
  		 * @type string
  		 * @default xfbml
  		 */
  		type: {
  		  type: String,
  		  value: 'xfbml'
  		  
  		},
  
  		/**
  		 * Facebook APP ID
  		 *
  		 * @attribute appid
  		 * @type string
  		 */
  		appid: {
  		  type: String,
  		  value:'631039860314768'
  		},
  
  		/**
  		 * The color scheme used by the plugin.
  		 *
  		 * Values: `light` | `dark`
  		 *
  		 * @attribute colorscheme
  		 * @type string
  		 * @default light
  		 */
  		colorscheme: {
  		  type: String,
  		  value: 'light'
  		},
  
  		/**
  		 * The absolute URL that comments posted in the plugin will be permanently associated with.
  		 *
  		 * Stories on Facebook about comments posted in the plugin will link to this URL.
  		 *
  		 * @attribute pageurl
  		 * @type string
  		 */
  		pageurl: {
  		  type: String,
  		  value: 'http://indochinestcyr.com/polymer/fbcomments/'
  		},
  
  		/**
  		 * A boolean value that specifies whether to show the mobile-optimized version or not.
  		 *
  		 * Values: `true` | `false`
  		 *
  		 * Note: Value is auto-detected.
  		 *
  		 * @attribute mobile
  		 * @type bool
  		 * @default false
  		 */
  		mobile: {
  		  type: Boolean,
  		  value: false
  		},
  
  		/**
  		 * The number of comments to show by default.
  		 *
  		 * The minimum value is 1.
  		 *
  		 * @attribute numposts
  		 * @type int
  		 * @default 5
  		 */
  		numposts: {
  		  type: Number,
  		  value: 5
  		},
  
  		/**
  		 * The order to use when displaying comments.
  		 *
  		 * Values: `social` | `reverse_time` | `time`
  		 *
  		 * @attribute orderby
  		 * @type string
  		 * @default social
  		 */
  		orderby: {
  		  type: String,
  		  value: 'social'
  		},
  
  		/**
  		 * The width of the plugin.
  		 *
  		 * @attribute width
  		 * @type int
  		 * @default 100
  		 */
  		width: {
  		  type: Number,
  		  value: 550
  		},
    },
    
    renderFacebookComments: function() {
			(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
          return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
			
			switch (this.type) {
				case 'xfbml':
					console.log('xfbml');
					var container = this.$.fbRoot;
					var markup = '';
            markup += '<div class="fb-comments"'
                      + ' data-href="' + this.pageurl 
                      +'" data-num-posts="'+ this.numposts 
                      +'" data-width="'+ this.width
                      +'" data-mobile="' + this.mobile
                      +'" data-colorscheme="' + this.colorscheme
                      +'" data-order-by="' + this.orderby
                      +'" data-appId="' + this.appid 
                      +'" ></div>';
            container.innerHTML = markup;
					break;
				case 'html5':
					console.log('html5');
					var container = this.$.fbRoot;
					var markup = '';
            markup += '<div class="fb-comments"'
                      + ' data-href="' + this.pageurl 
                      +'" data-num-posts="'+ this.numposts 
                      +'" data-width="'+ this.width
                      +'" data-mobile="' + this.mobile
                      +'" data-colorscheme="' + this.colorscheme
                      +'" data-order-by="' + this.orderby
                      +'" data-appId="' + this.appid 
                      +'" ></div>';
            container.innerHTML = markup;
					break;
			}
		},
		
		ready: function() {
		  this.async(this.renderFacebookComments, null, 1000);
		}

  });
</script>
</dom-module>